<section class="header">
    <header>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <nav> 
            <!-- this one is top bar -->
            <ul class="transition">
                <li><a href="#">Kiana Cheatham</a></li> 
                <li class="hideOnMobile"><a href="#">Home</a></li>
                <li class="hideOnMobile"><a href="#about">About</a></li>
                <li class="hideOnMobile"><a href="#projects">Projects</a></li>
                <li class="hideOnMobile"><a href="images/resume.pdf" target="_blank" rel="noopener">Resume</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>

            <!-- this one is side bar -->
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li> 
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="images/resume.pdf" target="_blank" rel="noopener">Resume</a></li>
            </ul>
        </nav>
        
    </header>
</section>

<!-- sidebar for phone -->
<script>
    function showSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'flex'
    }
    function hideSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'none'
    }
</script>